body {
	background-color: #A9A8A8;
	margin:0;
}

.header {
	text-transform:uppercase;
	font-size:25px;
	background-color: black;
	margin-bottom:-35px;
	padding:15px;

}
.header a:hover {
	color:#4F4F4F;
}
.nav a:hover {
	color:#4F4F4F;

}
	
ul {
	list-style-type: none;
	margin-left:830px;
	margin-top: -39px;
	padding-bottom: 5px;

}
li {
	display:inline-block;
}
ul.headline-listing{
	list-style-type: none;
	display: block;
	margin: auto 0;
	padding: 10px 80px; 
}
.nav {
	background-color: black;
	width:100%;
	height:20px;

}

p {
	padding:5px;
}
a {
	text-transform:uppercase;
	text-decoration:none;
	color:white;
	font-family:PT Sans;
	margin-left:13px;
}
.hero_container {
	background-color: #4F4F4F;
	padding:90px;
	height:120px;
	position:relative;
	margin-top:19px;
	
}
.hero_text p {
	font-family: PT Sans;
	float:left;
	margin: 0 auto;
	padding-right:120px;
  	font-size: 25px;
  	color: #FFFFFF;

}
.headline_container {
	margin-top:35px;
}

.footer {
	background-color:black;
	font-family: PT Sans;
	color: #FFFFFF;
	width: 100%;
	height: 60px;
}
.footer p {
	padding-left:561px;
}
