body {
	background-color: #A9A8A8;
	margin:0;
}

.header {
	text-transform:uppercase;
	font-size:25px;
	background-color: black;
	margin-bottom:-35px;
	padding:15px;

}
.header a:hover {
	color:#4F4F4F;
}
nav a:hover {
	color:#4F4F4F;

}
	

nav {
	background-color: black;
	width:100%;
	height:20px;

}
ul {
	list-style-type: none;
	margin-left:830px;
	margin-top: -39px;
	padding-bottom: 5px;

}
li {
	display:inline-block;
}
ul.headline-listing{
	list-style-type: none;
	display: block;
	margin: auto 0;
	padding: 10px 80px; 
}
a {
	text-transform:uppercase;
	text-decoration:none;
	color:white;
	font-family:PT Sans;
	margin-left:13px;
}
.hero_container {
	background-color: #4F4F4F;
	width:86%;
	padding:90px;
	height:120px;
	position:relative;
	margin-top:19px;
	
}
.hero_text p {
	font-family: PT Sans;
	padding-right:120px;
  	font-size: 25px;
  	color: #FFFFFF;
  	margin-top:-13px;

}
.hero_image img {
	height: 300px;
	width:758px;
	margin-left: 510px;
	margin-top: -278px;
}

img.headline-thumb{
	width: 350px;
	height: 267px;
}
.headline_container {
	margin-top:35px;
}

.headline_container img {
	display:block;
	margin:20px;
	-webkit-box-shadow: 5px 5px 10px 5px #616161;
box-shadow: 5px 5px 10px 5px #616161;
}
footer {
	background-color:black;
	font-family: PT Sans;
	color: #FFFFFF;
	width: 100%;
	height: 60px;
}
footer p {
	padding-left:561px;
}
.CrossFit {
	margin-top:30px;
}
li.headline a:hover {
	color:#4F4F4F;
}

li.headline{
	display: inline-block;
	text-align: center;
}